<div class="container" style="margin: 50px auto">
    <div class="row">
        <div class="col-8 offset-2">
            <h3>Modificar novedad</h3>
            <form action="/admin/novedades/modificar" method="post" enctype="multipart/form-data">
                <input type="hidden" value="{{novedad.id}}" name="id">
                <div class="form-group mb-3">
                    <input type="text" class="form-control" placeholder="Titulo" name="titulo"
                        value="{{novedad.titulo}}">
                </div>
                <div class="form-group mb-3">
                    <textarea class="form-control" aria-label="With textarea" placeholder="Mensaje"
                        name="mensaje">{{novedad.mensaje}}</textarea>
                </div>
                <button type="submit" class="btn btn-primary fs-5 me-3">Modificar</button>
                <a href="/admin/novedades" class="btn btn-secondary fs-5">
                    Volver <i class="fas fa-reply"></i></a>
            </form>
            </form>
            {{#if error}}
            <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
</div>