<h2 class="mb-4">Administrador</h2>

<nav class="nav-menu">
    <a href="/admin/novedades" class="nav-item btn__nav">Novedades</a>
    <a href="/admin/imagenes" class="nav-item btn__nav">Imágenes</a>
</nav>